 
 #image {
  filter: brightness(70%);
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 1250px;
  height: auto;
}

#text{
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-family: Merriweather;
   
  color: #fff; 
  padding: 10px 20px; 
  font-size: 30px; 
  text-align: center;
}
#off{
  text-align: center;
  font-size: 55px;
  font-family: Verdana, sans-serif;
  font-style: normal;
  color: #F00;
  font-weight: 700;
}
#p{
  text-align: center;
  font-size: 30px;
  font-family: Verdana, sans-serif;
  font-style: normal;
  color: #F00;
  font-weight: 700;
}
#h2{
  text-align: center;
  font-size: 55px;
  font-family: Verdana, sans-serif;
  font-style: normal;
  color: black;
  font-weight: 700;

}
#newyear{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.flex-container {
  display: flex;
  flex-direction: column;

}
.text-container{
  display: flexbox;
  align-items: center;
  background-color: #FF000000;
}
.social-container
{
  display: flex;
  flex-flow: row ;
  justify-content: center;
  height: 200px;

}
#rec
{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  width: 50px;
  height: auto;
}


.social
{
  margin: 10px, 10px ,10px;
  padding: 10px;
}
.photo-galary{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

#item1{
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 1250px;
  height: auto;
}
#text1{
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}
.flex-box1{
  
  text-align: center;
}

#text2{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  text-align: center;
  background-color: peachpuff;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px, 50px, 40px;
  

}
#photo{
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 1250px;
  height: auto;
}

#button
{
  border-radius: 8px;
background: #F00;
color:white;
font-size: 20px;
font-weight: 700;
}
.color
{
  color: #FF0000;
}
